@model MusicShop.Domain.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input name="rePassword" id="rePassword" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.Street" class="control-label"></label>
                <input asp-for="CustomerAddress.Street" class="form-control" />
                <span asp-validation-for="CustomerAddress.Street" class="text-danger"></span>
            </div>
          

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CustomerAddress.City" class="control-label"></label>
                <input asp-for="CustomerAddress.City" class="form-control" />
                <span asp-validation-for="CustomerAddress.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.State" class="control-label"></label>
                <input asp-for="CustomerAddress.State" class="form-control" />
                <span asp-validation-for="CustomerAddress.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress.Zip" class="control-label"></label>
                <input asp-for="CustomerAddress.Zip" class="form-control" />
                <span asp-validation-for="CustomerAddress.Zip" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
