@model ProductListViewModel

@{
    ViewData["Title"] = "ProductList";
}

<h2>@Model.CurrentCustomer</h2>
<h2>@Model.CurrentStore</h2>

<div class="container">
    <h3 class="display-4">All Products</h3>
    <div class="row">
        @foreach (var product in Model.Products)
        {  
            <partial name="_ProductsSummary" model="product" />
        }
    </div>
</div>
