@{
    ViewData["Title"] = "Login Page";
}

    <div class="text-center">
        <h1>Cookie Authentication</h1>
        for Login: <a asp-action="Login">Login</a>
        <br />
        Secured Page: <a asp-action="Index" asp-controller="Customers">Customers</a>
    </div>
